.parent {
  display: flex;
  text-align: left;
  flex-direction: column;
}

.header{
  font-family: 'Raleway';
  display: flex;
}

.projectTitles {
  font-family: 'Raleway';
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 40px
}

.wearableImages {
  display: flex;
  justify-content: space-evenly;
}

.prototypeText {
  text-align: center;
}